#landing
{
    background: olivedrab;
    
}
#aybobo
{

    background-image: url("images/banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 
}


body
{
    
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    background: whitesmoke;
    
}

h1{
    font-weight: 400;
    font-size:2.5rem;
    text-transform: uppercase;
    margin:0;
}

h2,h3
{
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin:0;
}

nav {
    
    background:lightslategray;
    border-bottom: 3px solid gray;
    padding:20px;
    text-transform: uppercase;
}
nav a {
    color:white;
    
}

a{
    text-decoration: none;
}
nav li
{
    
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
}
title {
padding:1.5rem;
    text-align:center;
    background: #333;
    color:#fff;

}
main
{
    
    max-width:900px;
    margin:auto;
    height: auto;
    box-shadow: 30px 0px 40px rgba(0,0,0,0.4),
-30px 0px 40px rgba(0,0,0,0.1);
}

.card 

{
    padding: 30px;
    float:left;
    width:25%;
    background:transparent;
}

img{
    display: block;
    width:100%;}








footer{
    text-align:center;
    padding:2rem 1 rem;
    bottom:2000px;
    color:#333;
}



footer
{   font-size:3rem;
    margin-bottom: 0;
}

#content
{
    height:9000px;
    background:white;
}
 


@media (max-width:500px)

{
        #left_nav
        {
            width:100%;
            display: flex;
            height:300px;
            background:violet;
        }
        
        #right_nav
        {
            width:100%;
            height: 300px;
            background:coral;
        }
        
       
       
}